body {
  margin: 0;
  padding: 0;
  background-color: black; /* Set the background color to black */
  color: white; /* Ensure text is visible on a black background */
  font-family: Arial, sans-serif; /* Optional: set a base font */
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34; /* Dark background for header, can be adjusted if needed */
  padding: 20px;
  color: white;
}

.connect-section, .projects-section {
  padding: 20px;
  margin: 20px 0;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-link {
  background-color: #282c34; /* Dark button background */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.social-link:hover {
  background-color: #3f51b5;
}

.projects-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project-card {
  background-color: #333; /* Dark background for project cards */
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: left;
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-link {
  color: #007bff;
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
}
